/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* .wrapper{
    border: 2px solid black;
} */

/* .main-nav{
    border: 2px solid red;
} */
/* ul{
    /* border: 2px solid green ; */
    /* display: flex;
    list-style: none;
    text-decoration: none;
} */
/* li{
     /* border: 2px solid rgb(20, 24, 151) ; */
   
/* } */
/* a{
    /* border: 2px solid rgb(196, 208, 24) ; */
    /* font-size: 1.1em;
    font-weight: 500;
    
} */